<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GroupFileName" value="groups.txt" />
    <add key="PasswordfileName" value="passwd.txt" />
    <add key="GroupFilePath" value="C:\Github\Brain.API\Brain.API.ServiceModel\UnixFiles\" />
    <add key="PasswordfilePath" value="C:\Github\Brain.API\Brain.API.ServiceModel\UnixFiles\" />
    <add key="LocalHost" value="http://*:1234/" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>